.search__inner {
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    border-bottom: 1px dashed var(--primary-color200);

    @media (max-width:800px) {
        padding: 15px 20px;
    }

    label {
        display: none;
    }

    .search__input {
        width: 100%;
        // background-color: var(--primary-color200);
        padding: 19px 30px;
        border-radius: 10px;
        color: var(--white);
        font-size: 1.4rem;
        border: 2px solid var(--primary-color200);
        color: var(--primary-color);
        font-weight: bold;
        outline: var(--primary-color200);

        &::placeholder {
            color: var(--primary-color200);
        }
    }

}

#searchPage {
    h2 {
        margin-bottom: 15px;
    }
}

@media (max-width: 800px) {
    #search {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: var(--white);
        z-index: 50;
    }

    .search__inner {
        width: 100%;
        padding-left: 240px;
        box-sizing: border-box;
    }

    #searchPage {
        margin-top: 90px;
    }

}